@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters mb-4">
            <div class="col p-4 mb-4 ">
                <p class="card-text">
                    Client Rolodex is a CRM that stores all important data for your clients. For feature requests, email hunterkelly1234@gmail.com
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row no-gutters mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    Enjoy this killer music and weather data as the landing page for the site. To view, create, and edit clients click on the Client tab on navigation bar.
                </p>                
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">              
                <a class="weatherwidget-io" href="https://forecast7.com/en/29d76n95d37/houston/?unit=us" data-label_1="HOUSTON" data-label_2="WEATHER" data-theme="original" >HOUSTON WEATHER</a>
                <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                </script><br />
                <iframe width="280" height="158" src="https://www.youtube.com/embed/3Wf29RiKp70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>                
            </div>
        </div>
    </div>
</div>
